@import url('https://fonts.cdnfonts.com/css/govia-sans');
@import url('https://fonts.cdnfonts.com/css/nunito');
body {
    font-family: 'Nunito', Arial, Verdana, sans-serif;
    background-color: #FECA58;
}

.page{
    max-width: 940px;
    min-width: 720px;
    margin: 10px auto 10px auto;
    padding: 40px;
    border: 4px solid #000;
    background-color: #FFFFBF;
    border-radius: 25px; 
    padding-top: 10px;
}
h1{
    font-size: 30px;
    color: #2C4528;
    font-family: 'Govia Sans';
}
li {
    list-style-image: url("icon-plus.png");
    line-height: 1.9em;
}

table {
    padding-top: 20px;
    border-spacing: 0px;
    align-items: center;
    margin: 10px auto 10px auto;
    padding-bottom: 50px;
}

th, td {
    padding: 5px 30px 5px 10px;
    border-spacing: 0px;
    font-size: 90%;
    margin: 0px;
}
        
th, td {
    text-align: left;
    background-color: #FFED73;
    border-top: 1px solid #fcfa98;
    border-bottom: 1px solid #fcfa98;
    border-right: 1px solid #fcfa98;
}

tr.head th {
    color: #000;
    background-color: #FFE54C;
    border-bottom: 2px solid #ffde3b;
    border-right: 1px solid #fcdb4b;
    border-top: 1px solid #f5dc4e;
    text-align: center;
    text-shadow: -1px -1px 1px #111111;
    letter-spacing: 0.15em;
}

td {
    text-shadow: 1px 1px 1px #ffffff;
}

tr.even td, tr.even th {
    background-color: #FFF699;
}

tr.head th:first-child {
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}

tr.head th:last-child {
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

.signa{
    float: left;
    margin-top: 20px;
    margin-left: 150px;
}


fieldset {
    width: 310px;
    margin-top: 20px;
    border: 1px solid black;
    background-color: #fffeb4;
    line-height: 1.6em;
    margin-left: 60%;
    margin-bottom: 13px;
    
}

legend {
    font-style: italic;
    color: #666666;
}

input[type="text"] {
    width: 120px;
    border: 1px solid #d6d6d6;
    padding: 2px;
    outline: none;
}

input[type="text"]:focus,
input[type="text"]:hover {
    background-color: #d0e2f0;
    border: 1px solid #999999;
}

input[type="submit"] {
    border: 1px solid #006633;
    background-color: #009966;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: ;
    margin-left: 836px;
}

input[type="submit"]:hover {
    border: 1px solid #006633;
    background-color: #00CC33;
    color: #ffffff;
    cursor: pointer;
}

.title {
    float: left;
    width: 160px;
    clear: left;
}
.submit {
    width: 310px;
    text-align: right;
}